<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper">
    <select id="selectTodo" resultType="com.todo.demo.data.Todo">
      SELECT todoNo, title, content, priority,deadline, isComplete
      FROM todotable
      WHERE todoNo = #{todoNo};
    </select>

    <select id="selectMaxTodoNo" resultType="Integer">
      SELECT MAX(todoNo)
      FROM todotable;
    </select>

    <insert id="insertTodo">
        INSERT INTO todotable(title, content, deadline, priority, isComplete)
        VALUES(#{title}, #{content}, #{deadline}, #{priority}, false);
    </insert>

    <delete id="deleteTodo">
        DELETE FROM todotable
        WHERE todoNo = #{todoNo};
    </delete>

    <update id="updateTodo" parameterType="com.todo.demo.data.Todo">
        UPDATE todotable
        SET title = #{title}, content = #{content}, isComplete = #{isComplete}
        WHERE todoNo = #{todoNo}
    </update>

    <update id="updateIsComplete" parameterType="Integer">
        UPDATE todotable
        SET isComplete = #{isComplete}
        WHERE todoNo = #{todoNo}
    </update>
</mapper>