<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userdataMapper">
    <insert id="setUserData">
        INSERT INTO userTable(userId,userPw,userName,email,createDate,updateDate)
        VALUES (#{userId},#{userPw},#{userName},#{email},NOW(),NOW());
    </insert>
    <select id="getUserPassword" resultType="ac.dankook.postboard.data.User">
        SELECT userId,userPw
        FROM userTable
        WHERE userId=#{userId};
    </select>
</mapper>
